.keys{
    border: 2px solid red;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.key{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
kbd{
    font-size: 2rem;
}

.sounds{
    font-size: 1rem;
}